{% extends "base.html" %}
{% block content %}
<div>
<h3>Edit Widget</h3>
<hr>

<form id="f-edit-widget" class="pure-form pure-form-aligned" method="POST" action={{ url_for('widget.edit_widget_complete') }}>
  <fieldset>

    <input hidden name="widget_ulid" id="widget_ulid" type="text" value="{{ widget['widget_ulid'] }}">

    <div class="pure-control-group">
        <label for="widget_name">Widget name</label>
        <input name="widget_name" id="widget_name" type="text" placeholder="widget name" required value="{% if widget['widget_name'] is not none %}{{ widget['widget_name'] }}{% endif %}">
    </div>

    <div class="pure-control-group">
        <label for="description">Description</label>
        <input name="description" id="description" type="text" placeholder="description" required value="{% if widget['description'] is not none %}{{ widget['description'] }}{% endif %}">
    </div>

    <br/>
    <div class="pure-control-group">
        <button type="submit" class="pure-button pure-button-primary">save changes</button>
    </div>

  </fieldset>
</form>
</div>

<br><br>

{% endblock %}